<header class="mb-8">
    <nav class="top-0 flex justify-between items-center py-4 px-4 sm:px-8 md:px-16 lg:px-32 xl:px-64 bg-white fixed z-50 w-full">
        {% include "logo.html" %}
    
        <!-- Hamburger Menu for Mobile -->
        <div class="lg:hidden">
            <button id="menu-toggle" class="text-gray-700 focus:outline-none">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
                </svg>
            </button>
        </div>
    
        <!-- Menu Items -->
        <ul id="menu" class="hidden lg:flex space-x-4 lg:space-x-8 text-gray-700 font-medium">
            <li><a href="/" class="hover:text-blue-500 hover:border-blue-500 border px-3 py-1 outline-none">HOME</a></li>
            <li><a href="/dashbord" class="hover:text-blue-500 hover:border-blue-500 border px-3 py-1">DASHBORD</a></li>
            <div class="relative group">
                <a href="#" class="hover:text-blue-500 hover:border-blue-500 border px-3 py-1">EVENTS</a>
                <div class="absolute left-0 mt-3 w-48 bg-white text-gray-900 rounded-md shadow-lg opacity-0 group-hover:opacity-100 invisible group-hover:visible transition-all duration-300">
                    <div class="h-2 w-full bg-blue-500"></div>
                    <a href="/create_event" class="block px-5 py-3 hover:text-blue-500 hover:ml-2">ADD EVENT</a>
                    <a href="/show_events_dashbord" class="block px-5 py-3 hover:text-blue-500 hover:ml-2">EVENT LIST</a>
                </div>
            </div>
            <div class="relative group">
                <a href="#" class="hover:text-blue-500 hover:border-blue-500 border px-3 py-1">PARTICIPANT</a>
                <div class="absolute left-0 mt-3 w-48 bg-white text-gray-900 rounded-md shadow-lg opacity-0 group-hover:opacity-100 invisible group-hover:visible transition-all duration-300">
                    <div class="h-2 w-full bg-blue-500"></div>
                    <a href="/create_participant" class="block px-5 py-3 hover:text-blue-500 hover:ml-2">ADD PARTICIPANT</a>
                    <a href="/show_participants_dashbord" class="block px-5 py-3 hover:text-blue-500 hover:ml-2">PARTICIPANT LIST</a>
                </div>
            </div>
            <div class="relative group">
                <a href="#" class="hover:text-blue-500 hover:border-blue-500 border px-3 py-1">CATEGORY</a>
                <div class="absolute left-0 mt-3 w-48 bg-white text-gray-900 rounded-md shadow-lg opacity-0 group-hover:opacity-100 invisible group-hover:visible transition-all duration-300">
                    <div class="h-2 w-full bg-blue-500"></div>
                    <a href="/create_category" class="block px-5 py-3 hover:text-blue-500 hover:ml-2">ADD CATEGORY</a>
                    <a href="/show_categorys_dashbord" class="block px-5 py-3 hover:text-blue-500 hover:ml-2">CATEGORY LIST</a>
                </div>
            </div>
        </ul>
    
        <!-- User Section -->
        <div class="hidden lg:block">
    <div class="relative group">
        <a href="#" class="hover:text-blue-500 hover:border-blue-500 border px-3 py-1">
            {% if user.is_authenticated %}
                {{ user }}
            {% else %}
                Guest
            {% endif %}
        </a>
        <div class="absolute left-0 mt-3 w-48 bg-white text-gray-900 rounded-md shadow-lg opacity-0 group-hover:opacity-100 invisible group-hover:visible transition-all duration-300">
            <div class="h-2 w-full bg-blue-500"></div>
            {% if user.is_authenticated %}
                <a href="{% url "logout" %}" class="block px-5 py-3 hover:text-blue-500 hover:ml-2">Log out</a>
            {% else %}
                <a href="{% url "logout" %}" class="block px-5 py-3 hover:text-blue-500 hover:ml-2">Log in</a>
                <a href="{% url "signup" %}" class="block px-5 py-3 hover:text-blue-500 hover:ml-2">Sign up</a>
            {% endif %}
        </div>
    </div>
</div>
    </nav>
</header>
{% comment %} <script>
    document.getElementById('menu-toggle').addEventListener('click', function() {
        var menu = document.getElementById('menu');
        menu.classList.toggle('hidden');
    });
</script> {% endcomment %}